[build]
target = "riscv32imc-esp-espidf"
#target = "riscv32imac-esp-espidf"
#target = "xtensa-esp32-espidf"
#target = "xtensa-esp32s3-espidf"

[target.xtensa-esp32-espidf]
rustflags = ["--cfg", "espidf_time64"]
linker = "ldproxy"

[target.xtensa-esp32s2-espidf]
rustflags = ["--cfg", "espidf_time64"]
linker = "ldproxy"

[target.xtensa-esp32s3-espidf]
rustflags = ["--cfg", "espidf_time64"]
linker = "ldproxy"

[target.riscv32imc-esp-espidf]
rustflags = ["--cfg", "espidf_time64"]
linker = "ldproxy"

[target.riscv32imac-esp-espidf]
rustflags = ["--cfg", "espidf_time64"]
linker = "ldproxy"

[unstable]
build-std = ["std", "panic_abort"]

[env]
ESP_IDF_SDKCONFIG_DEFAULTS = ".github/configs/sdkconfig.defaults"
ESP_IDF_VERSION = "v5.3.2"
#ESP_IDF_VERSION = "release/v5.3"
#MCU = "esp32c2"
#MCU = "esp32c6"
MCU = "esp32c3"
